# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add todo list
!ToDo.txt

# Add md files
!*.md

# Add fsx files
!*.fsx

# Add command and batch files
!*.cmd
!*.sh

# Add proc file
!Procfile

# Add paket bootstrapper
!/.paket/
!/.paket/paket.bootstrapper.exe

# Add dependencies file
!paket.dependencies
!paket.lock

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add solution file
!*.sln

# Add source files
!/scripts/
!/scripts/*.fsx
!/src/
!/src/Informedica.GenSolver.Lib/
!/src/Informedica.GenSolver.Lib/*.fsproj
!/src/Informedica.GenSolver.Lib/paket.references
!/src/Informedica.GenSolver.Lib/*.fs
!/src/Informedica.GenSolver.Lib/*.fsx
!/src/Informedica.GenSolver.Lib/Scripts/
!/src/Informedica.GenSolver.Lib/Scripts/*.fsx

# Add test files
!/tests/
!/tests/Informedica.GenSolver.Tests/
!/tests/Informedica.GenSolver.Tests/*.fsproj
!/tests/Informedica.GenSolver.Tests/paket.references
!/tests/Informedica.GenSolver.Tests/*.fs
!/tests/Informedica.GenSolver.Tests/*.fsx

# Ignore generated documentation files
/docs/content/**/*.md

# Add documentation
!/docs/
!/docs/content/
!/docs/content/*.fsx
!/docs/tools/
!/docs/tools/*.fsx
!/docs/tools/templates/
!/docs/tools/templates/*.cshtml
!/docs/files/
!/docs/files/img/
!/docs/files/img/*.png




